<section class="bg-light" id="home">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('static', filename='img/web.jpg') }}" class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4">Soy ALEX ROEL</h2>
                <p class="lead fs-3">Desarrollador Web</p>
                <hr class="my-4">
                <p class="fs-5">En este sitio encontrarás mis trabajos y proyectos recientes. ¡Gracias por visitar!</p>
                <a class="btn btn-primary btn-lg" href="#contact" role="button">Contáctame</a>
            </div>
        </div>
    </div>
</section>