<footer class="bg-dark p-5">
    <div class="container">
        <div class="row d-felx align-items-center">
            <div class="col-md-6">
                <h3 class="text-light">Tambien puedes contactarme</h3>
                <p class="text-light">Si tienes alguna pregunta o estás interesado en trabajar conmigo, no dudes en
                    contactarme a través de mis redes sociales</p>
            </div>
            <div class="col-md-6">
                <h3 class="text-light mb-4 text-end">REDES SOCIALES</h3>
                <div class="d-flex justify-content-end">
                    <a href="#"><i class="socila-icon fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="socila-icon fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="socila-icon fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <hr class="bg-light mt-4">
        <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-secondary">© 2023 Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <p class="text-end text-secondary">Hecho por Alex Roel</p>
            </div>
        </div>
    </div>
</footer>