{% extends 'base.html'%}

{% block content %}
<section class="container-sm">
    <h3 class="text-center mt-3 mb-3">{% block title %}Ingresar Tarea{% endblock %}</h3>
    <form action="" method="post">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="desc">Descripción</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <a href="{{ url_for('todo.index') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</section>
{% endblock %}