*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #eee;
}
.container{
    width: 90%;
    margin: auto;
}

.content{
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

/* HEADER */
header{
    background-color:   #000 ;
    padding: 10px 0;
}

nav .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

nav .logo img{
    width: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    color: #fff;
    display: flex;
    list-style: none;
    padding: 5px;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #dbdbdb;
}


/* POSTS*/
.post{
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    margin: 20px;
    padding: 20px;
    border: solid 1px transparent;
    border-radius: 5px;
}

.post:hover{
    border: solid 1px #000;
    cursor: pointer;
}

.post h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.created{
    margin-top: 20px;
    color: #3e3e3e;
    text-align: end;
}

/* BLOG */
article h1{
    text-align: center;
}
article p{
    margin-top: 20px;
}

/* LOGIN Y REGISTER*/
.login-register{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.login-register h2{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid 1px #c0c0c0;
}

.login-register form{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 18px;
}


form input{
    margin: 10px 0;
    width: 300px;
    padding: 10px 5px;
    font-size: 18px;
    color: #3e3e3e;
}

form input[type="submit"]{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: solid 3px #000;
    border-radius: 5px;
    width: 100%;
}

form input[type="submit"]:hover{
    background-color: #000;
    color: #fff;
}

/* BLOGS ADMIN*/

.header-blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: solid 1px #c0c0c0;
}

.blogs table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    text-align: left;
    padding: 10px;
}

th{
    background-color: #000;
    color: #fff;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

/* CREATED BLOG*/
.form-blog form{
    display: flex;
    flex-direction: column;
}

.form-blog form input{
    width: auto;
    margin: 20px 20px;
}

.form-blog form textarea{
    margin: 20px 20px;
    padding: 10px 5px;
    font-size: 18px;
    color: #3e3e3e;
}

/*  FLASH   */
.flash{
    background-color: #ab0e0e;
    color: #fff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    font-size: 18px;

    position: absolute;
    bottom: 8px;
}